html {
    scroll-behavior: smooth;
}

body {
    background: url("lib/gallery/pexels-photomix-company-96622.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    position: relative;
}

.first-section {
    height: 980px;
    width: 100%;
    border: solid 1px black;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;
    width: 75%;
    border: solid 1px black;
}

.final-section {
    width: screen;
    height: 1080px;
}

.cor-1 {
    background-color: #EEEEEE;
}

.cor-2 {
    background-color: #FFFFFF;
}

.cor-3 {
    background-color: #2596BE;
}

.cor-4 {
    background-color: #0a6099;
}

.cor-5 {
    background-color: #063970;
}

.scit-title{
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    font-size: 100px;
}

.scit-subtitle {
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    font-size: 40px;
}

.scit-text{
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    font-size: 30px;
}


.cabecalho {
    display: flex;
    position: sticky;
    background-color: azure;
    width: 100%;
    height: 7%;
}

.cabecalho-section{
    width: 50%; 
    height: 100%;
    padding: 1%;
    font-size: 25px;
}

.rodape {
    display: flex;
    position: sticky;
    background-color: azure;
    width: 100%;
    height: 15%;
}
.final{
    background-color: beige; 
    width: screen; 
    height: 50%;
}


.home1{
    width: 100%; 
    height: 60%;
}

.home2{
    background-color: skyblue; 
    width: screen; 
    width: 100%; 
    height: 30%;
}


.sobre {
    display: flex;
    height: 100%;
    width: 100%;
}

.sobre-info {
    color: white;
    font-size: 17px;
}

.sobre-info2 {
    padding: 1%;
    color: black;
    font-size: 20px;
}

.projetos {
    display: flex;
    height: 100%;
    width: 100%;
}

.projetos-info {
    width:auto; 
    height:auto;
    padding: 9px;
    padding-left: 15px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
}

.equipe {
    display: flex;
    height: 100%;
    width: 100%;
}

.pessoa-info {
    width:auto; 
    height:auto;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.pessoa1 {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 30px;
}

.pessoa2 {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 30px;
}


.clientes {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 30px;
}

.clientes-info {
    background-color: cornflowerblue; 
    width:auto; 
    height:auto;
}

